body{
  justify-content: center;
  align-content: center;
  background-color: grey;
}
.flex{
  display: flex;
  flex-direction: row;
}
.imgdiv{
  justify-self: center;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
}
footer{
  justify-items: center;
  align-items: center;
}